
/*Styling for the Container holding the About Me section*/
.container {
    width: 90%;
    padding: 10px;
    display: flex;
    overflow: hidden;

}

/*This will style the titles about me, projects, and contact*/
.container-title {
    width: 15%;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family);
    text-align: right;
    padding-right: 40px;
    margin-right: 10px;
    border-right: solid #FDF8F5 4px;

}

/*styling container to hold the paragraph and picture*/
.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 22px;
    line-height: 1.5;
}
/*styling for the boxes layout*/

    .grid-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 70px;
        margin-left: 20px;
        margin-bottom: 70px;
        
}
/*styling the first project to look bigger*/
#full-size-image {
    width: 70%;
}


.web-image {
    border: 4px solid #FDF8F5;
    border-radius: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 70%;
}

.screenshot {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot:hover {
    opacity: 1;
}

.screenshot1 {
    height: 150%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot1:hover {

    opacity: 1;
}

.image-title {
    position: absolute;
    width: 175px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--background-color);
    border-radius: 0 15px 15px 0;
    text-align: left;
    bottom: 0px;
    left: 0px;
}

.image-title h3 {
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
    color:black;
}



.image-title a {
    font-size: smaller;
}